{% extends "common.html" %}
{% block content %}
<div class="row">
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="index.html">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>

	<div class="span12">
    <h1>Восстановление пароля - yay!</h1>
		<p>Всё чудесно, пароль сменён! <a href="{% url 'auth_login' %}">Войди же</a> в библиотеку и наполни свой мозг понями.</p>
	</div>
    
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="index.html">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
</div>
{% endblock %}