{% extends "common.html" %}
{% block content %}
<div class="row">
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="index.html">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
	{% if validlink %}
		Введите пароль джва раза
		<form action="" method="post">
			{% csrf_token %}
	     	Раз:
	     	{{ form.new_password1 }}
	     	Джва:
	     	{{ form.new_password2 }}
	    	<input type="submit" value="Сменить" />
	    </form>
    {% else %}
        Случилась фигня.
        
        То ли ссылка протухла, то ли ты опечатался,
        То ли злобный кулхацкер.
        Пробуй ещё.
    {% endif %}
    
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="index.html">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
</div>
{% endblock %}