{% extends "common.html" %}
{% block content %}
<div class="row">
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="index.html">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
  
На вашу почту отправлена фигня с инструкцией по восстановлению пароля
  
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="index.html">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
</div>
{% endblock %}