{% extends "common.html" %}
{% block content %}
<div class="row">
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="index.html">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
  
	<div class="span6 offset3 reg-complete">
		<h1>Регистрация закрыта</h1>
		<p>Объявлено осадное положение.</p>
  </div>
  
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="index.html">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
</div>
{% endblock %}