*.pyc
*.sqlite
*.sqlite3
/.project
/.pydevproject
/.idea/
/.settings/
/sphinx/
/media/
/static/
/env/
/node_modules/
/bower_components/
/ponyFiction/environments/local.py
/ponyFiction/environments/local_sphinx.conf
/environment.txt
/sphinxroot.txt
