recursive-include ponyFiction/templates *
recursive-include ponyFiction/static *
recursive-include ponyFiction/frontend *
recursive-include ponyFiction/filters *.xslt
recursive-include ponyFiction/apis/captcha *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]