{% extends "common.html" %}

{% load url from future %}

{% block content %}
{% load static %}
<div class="row">
	<div class="span8">
    <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
      <li class="active">{{ page_title }}</li>
    </ul>
		<h1>{{ page_title }}</h1>
		<div id="comments-list">
			{% for chapter in object_list %}
      			<div class="story-item">
					<h3><a href="{% url 'chapter_view_single' chapter.in_story_id chapter.order %}">{{ chapter.title }}</a></h3>
					<p>{{ chapter.text_as_html|truncatewords_html:50|safe }}</p>
	       			<p><a href="{% url 'story_view' chapter.in_story_id %}">{{ chapter.in_story.title }}</a> от <a class="authorlink" href="{% url 'author_overview' chapter.in_story.authors.all.0.id %}">{{ chapter.in_story.authors.all.0.username }}</a> {{ chapter.date|date:"d.m.Y" }}</p>
	    		</div>
			{% endfor %}
		</div>
		<input class="hidden" value="2" id="scroll_current"></input>
		<div class="loader" style="display:none;"></div>
    
    <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
      <li class="active">{{ page_title }}</li>
    </ul>
	</div>
</div>
{% endblock %}