{% extends "common.html" %}
{% load url from future %}
{% block content %}
{% load static %}
{% load pluralize %}
<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{% if author.story_set.count > 0 %}Автор{% else %}Читатель{% endif %}: {{ author.username }}</li>
		</ul>
	</div>
	<div class="span8">
		<h1 id="author-name">
			<img src="{% get_static_prefix %}i/userpic.jpg" width="42" title="{{ author.username }}" alt="{{ author.username }}"/>
			{{ author.username }}
			{% if user.is_authenticated and user.id == author.id %}
				<sup><a class="edit-link" href="{% url 'author_profile_edit' %}">Редактировать профиль</a></sup>
			{% endif %}
		</h1>
	    <p>
		    {% if published_stories > 0 %}
		    	Написал <b>{{ published_stories|rupluralize:'рассказ,рассказа,рассказов' }}</b>
		    {% else %}
		    	Пока ничего не написал
		    {% endif %}
		     и 
		    {% if author.comment_set.count > 0 %}
		    	оставил <b>{{ author.comment_set.count|rupluralize:'комментарий,комментария,комментариев' }}</b>.
		    {% else %}
		    	ничего не комментировал.
		    {% endif %}
		    {% if author.favorites_story_set.count > 0 %}
		    	Занес в избранное <a href="{% url 'favorites' author.id %}">{{ author.favorites_story_set.count|rupluralize:'рассказ,рассказа,рассказов' }}</a>.
			{% endif %}
		</p>
		<p class="author-description">{{ author.bio|safe }}</p>    
		<p class="contact-links">
			{% if author.jabber %}<a href="xmpp:{{ author.jabber }}" class="jabberlink">{{ author.jabber }}</a><br/>{% endif %}
			{% if author.skype %}<a href="skype:{{ author.skype }}" class="skypelink">{{ author.skype }}</a><br/>{% endif %}
			{% if author.tabun %}<a href="http://tabun.everypony.ru/profile/{{ author.tabun }}/" class="tabunlink">{{ author.tabun }}</a><br/>{% endif %}
			{% if author.forum %}<a href="{{ author.forum }}" class="forumlink">{{ author.username }}</a><br/>{% endif %}
			{% if author.vk %}<a href="http://vk.com/{{ author.vk }}" class="vkontaktlink">{{ author.username }}</a><br/>{% endif %}
		</p>
	</div>
	<div class="span8">
		{% if series %}
			<h2>Сборники автора ({{ author.series_set.count }})</h2>
			{% for sr in series %}
				<div class="series-item">
					<h2>
						<a href="#">{{ sr.title }}</a>
						{%if not sr.finished %}
							<sup class="incomplete">Не закончен</sup>
						{% else %}
							<sup class="complete">Закончен</sup>
						{% endif%}
						{% if sr.freezed %}<sup class="suspended">Заморожен</sup>{% endif %}
					</h2>
					{% for story in sr.story_set.all %}
						<div class="story-item">
							<h3>
								<a href="{% url 'story_view' story.id %}">{{ story.title }}</a>
								<sup><span class="upvotes">{{ story.vote_up_count }}</span> / <span class="downvotes">{{ story.vote_down_count }}</span></sup> 
								{%if not story.finished %}
									<sup class="incomplete">Не закончен</sup>
								{% else %}
									<sup class="complete">Закончен</sup>
								{% endif%}
								{% if story.freezed %}<sup class="suspended">Заморожен</sup>{% endif %}
							</h3>
							<p class="meta">
								{% spaceless %}
									<span class="category-list">
										{% for category in story.categories.all %}
											<a class="gen gen-{{ category.id }}" href="{% url 'search_simple' 'category' category.id %}">{{ category.name }}</a>
										{% endfor %}
									</span>
								{% endspaceless %}
								{{ story.words|rupluralize:'слово,слова,слов' }}
								{% if story.chapter_set.count == 1 %}
									{% for chapter in story.chapter_set.all %}
										, {{ chapter.views|rupluralize:'просмотр,просмотра,просмотров' }}
									{% endfor %}
								{% endif %}
							</p>
							<p>{{ story.summary|safe }}</p>
							{% if story.chapter_set.count > 1 %}
								<button class="btn btn-collapse btn-small" data-toggle="collapse" data-target="#series-story-{{ story.id }}">Показать {{ story.chapter_set.count|rupluralize:'главу,главы,глав' }}</button>
							{% endif %}   
							{% if not story.finished or story.finished and story.chapter_set.count > 1 %}
								<div id="series-story-{{ story.id }}" class="collapse">
									<ul class="chapters-list">
										{% for chapter in story.chapter_set.all %}
											<li>
												<a class="chapter-title" href="{% url 'chapter_view_single' story.id chapter.order %}">{{ chapter.title }}</a>
												<br/>
												{{ chapter.words|rupluralize:'слово,слова,слов' }}, {{ chapter.views|rupluralize:'просмотр,просмотра,просмотров' }}
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
							<p class="meta">
								{% spaceless %}
									<span class="character-list">
										{% for character in story.characters.all %}
											<a href="{% url 'search_simple' 'character' character.id %}"><img src="{% get_static_prefix %}i/characters/{{ character.id }}.png" alt="{{ character.name }}" title="{{ character.name }}"/></a>
										{% endfor %}
									</span>
								{% endspaceless %}
							</p>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		{% endif %}
	
		<h2>Рассказы автора</h2>
		{% for story in stories %}
			{% if not story.in_series.all %}  	
				<div class="story-item">
					<h3>
						<a href="{% url 'story_view' story.id %}">{{ story.title }}</a> 
						<sup><span class="upvotes">{{ story.vote_up_count }}</span> / <span class="downvotes">{{ story.vote_down_count }}</span></sup>
						{%if not story.finished %}
							<sup class="incomplete">Не закончен</sup>
						{% else %}
							<sup class="complete">Закончен</sup>
						{% endif%}
						{% if story.freezed %}<sup class="suspended">Заморожен</sup>{% endif %}
					</h3>
					<p class="meta">
						{% spaceless %}
							<span class="category-list">
								{% for category in story.categories.all %}
									<a class="gen gen-{{ category.id }}" href="{% url 'search_simple' 'category' category.id %}">{{ category.name }}</a>
								{% endfor %}
							</span>
						{% endspaceless %}
						{{ story.words|rupluralize:'слово,слова,слов' }}
						{% if story.chapter_set.count == 1 %}
							{% for chapter in story.chapter_set.all %}
								, {{ chapter.views|rupluralize:'просмотр,просмотра,просмотров' }}
							{% endfor %}
						{% endif %}
					</p>
					<p>{{ story.summary|safe }}</p>
					{% if story.chapter_set.count > 1 %}
						<button class="btn btn-collapse btn-small" data-toggle="collapse" data-target="#story-{{ story.id }}">Показать {{ story.chapter_set.count|rupluralize:'главу,главы,глав' }}</button>
					{% endif %}  
					{% if not story.finished or story.finished and story.chapter_set.count > 1 %}
						<div id="story-{{ story.id }}" class="collapse">
							<ul class="chapters-list">
								{% for chapter in story.chapter_set.all %}
									<li>
										<a class="chapter-title" href="#">{{ chapter.title }}</a>
										<br/>
										{{ chapter.words|rupluralize:'слово,слова,слов' }}, {{ chapter.views|rupluralize:'просмотр,просмотра,просмотров' }}
									</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}  
					<p class="meta">
						{% spaceless %}
							<span class="character-list">
								{% for character in story.characters.all %}
									<a href="{% url 'search_simple' 'character' character.id %}"><img src="{% get_static_prefix %}i/characters/{{ character.id }}.png" alt="{{ character.name }}" title="{{ character.name }}"/></a>
								{% endfor %}
							</span>
						{% endspaceless %}
					</p>
				</div>
			{% endif %}
		{% endfor %}
	</div>
  
	<div class="span4">
    	{% if comments.count > 0 %}<h2>Комментарии автора ({{ comments_count }})</h2>{% endif %}
    	<div id="comments-list">
    		{% for comment in comments %}
        		<div class="comment-item" id="comment-{{ comment.id }}">
            		<p class="comment-meta"><span class="comment-date">{{ comment.date|date:"d.m.Y" }} к рассказу <a href="{% url 'story_view' comment.story_id %}">{{ comment.story.title }}</a></span></p>
          			<p class="comment_text">{{ comment.text|safe }}</p>
        		</div>
      		{% endfor %}
    	</div>
		{% if comments.count > 5 %}
			<div id="pagination" class="center">
				<input type="submit" class="btn" value="&laquo;" onclick="getComments('first')">
				<input type="submit" class="btn" value="&lsaquo;" onclick="getComments('prev')">
				<input type="text" onchange="getComments($(this).val())" id="comments_goto_page" class="input-xlarge" placeholder="1 / {{ num_pages }}">
				<input type="submit" class="btn" value="&rsaquo;" onclick="getComments('next')">
				<input type="submit" class="btn" value="&raquo;" onclick="getComments('last')">
				<input type="hidden" name="page_current" id="page_current" value="1">
				<input type="hidden" name="num_pages" id="num_pages" value="{{ num_pages }}">
			</div>
		{% endif %}
	</div>
  	
  	<div class="span12">
    	<ul class="breadcrumb">
      		<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
      		<li class="active">Автор: {{ author.username }}</li>
    	</ul>
  	</div>
</div>
{% endblock %}