{% extends "common.html" %}
{% load url from future %}
{% block content %}
{% load static %}
<div class="row">
	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li><a href="{% url 'author_overview' user.id %}">Мой профиль</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
	
	<div class="span12">
		<h1>{{ page_title }}</h1>
		<div class="alert-mini green">
			{% if profile_ok %}Профиль успешно обновлен{% endif %}
			{% if email_ok %}Адрес электронной почты успешно обновлен{% endif %}
			{% if password_ok %}Новый пароль установлен{% endif %}
			{% if prefs_ok %}Личные настройки сохранены{% endif %}				
		</div>
		<div class="tabbable">
			<ul class="nav nav-pills nav-simple">
				<li class="active">
					<a href="#main" data-toggle="tab">Основное</a>
				</li>
				<li>
					<a href="#mail" data-toggle="tab">Почта</a>
				</li>
				<li>
					<a href="#security" data-toggle="tab">Безопасность</a>
				</li>
				<li>
					<a href="#personal" data-toggle="tab">Личные настройки</a>
				</li>
			</ul>
			<div class="tab-content">
			
				<div class="tab-pane active" id="main">
					<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
						{% csrf_token %}
						<fieldset>
							<legend>Основное</legend>
							{% for field in profile_form %}
								<div class="control-group{% if field.errors %} error{% endif %}">
									<label class="control-label">{{ field.label }}</label>
									<div class="controls">
										{{ field }}
										{% if field.errors %}
											{% for error in field.errors %}
												<span class="help-inline">{{ error }}</span>
											{% endfor %}
										{% else %}
											<span class="help-inline small">{{ field.help_text }}</span>
										{% endif %}
									</div>
								</div>
							{% endfor %}
							{% if profile_form.non_field_errors %}
								<div class="control-group error"><span class="help-inline">{{ form.non_field_errors.0 }}</span></div>
							{% endif %}
							<div class="form-actions">
								<button class="btn btn-primary" type="submit" name="save_profile">Сохранить профиль</button>
							</div>
						</fieldset>
					</form>
				</div>
						
				<div class="tab-pane" id="mail">
					<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
						{% csrf_token %}
						<fieldset>
						<legend>Почта</legend>
							{% for field in email_form %}
								<div class="control-group{% if field.errors %} error{% endif %}">
									<label class="control-label">{{ field.label }}</label>
									<div class="controls">
										{{ field }}
										{% if field.errors %}
											{% for error in field.errors %}
												<span class="help-inline">{{ error }}</span>
											{% endfor %}
										{% else %}
											<span class="help-inline small">{{ field.help_text }}</span>
										{% endif %}
									</div>
								</div>
							{% endfor %}
							{% if email_form.non_field_errors %}
								<div class="control-group error"><span class="help-inline">{{ form.non_field_errors.0 }}</span></div>
							{% endif %}
							<div class="form-actions">
								<button class="btn btn-primary" type="submit" name="save_email">Сменить e-mail</button>
							</div>
						</fieldset>
					</form>
				</div>
						
				<div class="tab-pane" id="security">
					<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
						{% csrf_token %}
						<fieldset>
							<legend>Безопасность</legend>
							{% for field in password_form %}
								<div class="control-group{% if field.errors %} error{% endif %}">
									<label class="control-label">{{ field.label }}</label>
									<div class="controls">
										{{ field }}
										{% if field.errors %}
											{% for error in field.errors %}
												<span class="help-inline">{{ error }}</span>
											{% endfor %}
										{% else %}
											<span class="help-inline small">{{ field.help_text }}</span>
										{% endif %}
									</div>
								</div>
							{% endfor %}
							{% if password_form_nfe %}
								<div class="control-group error">
									{% for error in password_form_nfe %}
										<span class="help-inline">{{ error }}</span>
									{% endfor %}
								</div>
							{% endif %}
							<div class="form-actions">
								<button class="btn btn-primary" type="submit" name="save_password">Сменить пароль</button>
							</div>
						</fieldset>
					</form>
				</div>
						
				<div class="tab-pane" id="personal">
					<form action="" method="POST" enctype="multipart/form-data" class="form-horizontal">
						{% csrf_token %}
						<fieldset>
							<legend>Не показывать рассказы:</legend>
							<div class="padded bootstrap checkboxes">{{ prefs_form.excluded_categories }}</div>
							<div class="form-actions">
								<button class="btn btn-primary" type="submit" name="save_prefs">Сохранить личные настройки</button>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>		

	<div class="span12">
		<ul class="breadcrumb">
			<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li><a href="{% url 'author_overview' user.id %}">Мой профиль</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
</div>
{% endblock %}