{% extends "common.html" %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">{{ SITE_NAME }}</a> <span class="divider">/</span></li>
            <li><a href="{% url 'author_overview' user.id %}">Мой профиль</a> <span class="divider">/</span></li>
            <li class="active">{{ page_title }}</li>
        </ul>
    </div>

<div class="col-md-12">
<h1>{{ page_title }}</h1>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="main-head">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#main" aria-expanded="true" aria-controls="main">
          Основное
        </a>
      </h4>
    </div>
    <div id="main" class="panel-collapse collapse" role="tabpanel" aria-labelledby="main">
      <div class="panel-body">
                    <form id="main" action="#main" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                            {% if profile_ok %}<div class="alert-mini green">Профиль успешно обновлен</div>{% endif %}
                            {% for field in profile_form %}
                                <div class="control-group{% if field.errors %} error{% endif %}">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <span class="help-inline">{{ error }}</span>
                                            {% endfor %}
                                        {% else %}
                                            <span class="help-inline small">{{ field.help_text }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if profile_form.non_field_errors %}
                                <div class="control-group error"><span class="help-inline">{{ form.non_field_errors.0 }}</span></div>
                            {% endif %}
                            <br><div class="form-actions">
                                <button class="btn btn-primary" type="submit" name="save_profile">Сохранить профиль</button>
                            </div><br>
                        </fieldset>
                    </form>        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="mail-head">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#mail" aria-expanded="false" aria-controls="mail">
          Почта
        </a>
      </h4>
    </div>
    <div id="mail" class="panel-collapse collapse" role="tabpanel" aria-labelledby="mail">
      <div class="panel-body">
                    <form id="mail" action="#mail" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                          {% if email_ok %}<div class="alert-mini green">Адрес электронной почты успешно обновлен</div>{% endif %}
                            {% for field in email_form %}
                                <div class="control-group{% if field.errors %} error{% endif %}">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <span class="help-inline">{{ error }}</span>
                                            {% endfor %}
                                        {% else %}
                                            <span class="help-inline small">{{ field.help_text }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if email_form.non_field_errors %}
                                <div class="control-group error"><span class="help-inline">{{ form.non_field_errors.0 }}</span></div>
                            {% endif %}
                            <br><div class="form-actions">
                                <button class="btn btn-primary" type="submit" name="save_email">Сменить e-mail</button>
                            </div><br>
                        </fieldset>
                    </form>        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="security-head">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#security" aria-expanded="false" aria-controls="security">
          Безопасность
        </a>
      </h4>
    </div>
    <div id="security" class="panel-collapse collapse" role="tabpanel" aria-labelledby="security">
      <div class="panel-body">
                    <form id="security" action="#security" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                          {% if password_ok %}<div class="alert-mini green">Новый пароль установлен</div>{% endif %}
                            {% for field in password_form %}
                                <div class="control-group{% if field.errors %} error{% endif %}">
                                    <label class="control-label">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <span class="help-inline">{{ error }}</span>
                                            {% endfor %}
                                        {% else %}
                                            <span class="help-inline small">{{ field.help_text }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% if password_form_nfe %}
                                <div class="control-group error">
                                    {% for error in password_form_nfe %}
                                        <span class="help-inline">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <br><div class="form-actions">
                                <button class="btn btn-primary" type="submit" name="save_password">Сменить пароль</button>
                            </div><br>
                        </fieldset>
                    </form>       
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="filters-head">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#filters" aria-expanded="false" aria-controls="filters">
          Настройки отображения
        </a>
      </h4>
    </div>
    <div id="filters" class="panel-collapse collapse" role="tabpanel" aria-labelledby="filters">
      <div class="panel-body">
                    <form id="personal" action="#personal" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                          {% if prefs_ok %}<div class="alert-mini green">Личные настройки сохранены</div>{% endif %}
                            <div class="padded bootstrap checkbox">
                                <label>Скрыть жанры:</label><br>
                                {{ prefs_form.excluded_categories }}
                            </div><br>
                            <div class="padded bootstrap radio">
                                <label>Показать рассказ в списках:</label><br>
                                {{ prefs_form.detail_view }}
                            </div><br>
                            <div class="padded bootstrap radio">
                                <label>NSFW-предупреждения:</label><br>
                                {{ prefs_form.nsfw }}
                            </div><br>
                            <div class="form-actions">
                                <input class="btn btn-primary" type="submit" name="save_prefs" value="Сохранить личные настройки"/>
                            </div>
                        </fieldset>
                    </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="theme-head">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#theme" aria-expanded="false" aria-controls="theme">
          Оформление сайта
        </a>
      </h4>
    </div>
    <div id="theme" class="panel-collapse collapse" role="tabpanel" aria-labelledby="theme">
      <div class="panel-body">
                    <form id="personal" action="#personal" method="POST" enctype="multipart/form-data" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                          {% if prefs_ok %}<div class="alert-mini green">Личные настройки сохранены</div>{% endif %}
                            <select class="form-control" disabled>
								<option>Everypony</option>
								<option>Ночная</option>
							</select><br>
                            <div class="form-actions">
                                <input class="btn btn-primary" type="submit" name="save_prefs" value="Сохранить личные настройки" disabled />
                            </div>
                        </fieldset>
                    </form>
      </div>
    </div>
  </div>
</div>	
</div>

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">{{ SITE_NAME }}</a> <span class="divider">/</span></li>
            <li><a href="{% url 'author_overview' user.id %}">Мой профиль</a> <span class="divider">/</span></li>
            <li class="active">{{ page_title }}</li>
        </ul>
    </div>
</div>
{% endblock %}
