{% extends "common.html" %}
{% block content %}
    {% load breadcrumb_tags %}
    {% add_crumb story.title 'story_view' story.id %}
    {% add_crumb page_title %}
    <div class="row">
        {% render_breadcrumbs %}
        <div class="col-md-8">
            <h1>{{ page_title }}</h1>

            <div class="story-item">
                <p>Вы действительно хотите удалить главу <strong>«{{ chapter.title }}»</strong> из рассказа
                    <strong>«{{ story.title }}»</strong>?</p>
                <p>Вся связанная статистика, оценки и комментарии также будут безвозвратно удалены!</p>
            </div>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="control-group">
                    <div class="controls">
                        <a href="{% url 'story_edit' story.id %}" class="btn">Отменить</a>
                        <input type="submit" class="btn btn-danger" value="Удалить">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
