{% extends "common.html" %}
{% block content %}
{% load breadcrumb_tags %}
{% add_crumb "Кабинет автора" "author_dashboard" %}
{% if story %}
    {% add_crumb story.title "story_edit" story.id %}
{% else %}
    {% add_crumb chapter.story.title "story_edit" chapter.story.id %}
{% endif %}
{% add_crumb page_title %}
<div class="row">
    {% render_breadcrumbs %}
    <div class="col-md-12">
        {% if story %}
            <h1>Добавление новой главы</h1>
            <p>
                Перед добавлением главы рекомендуем прочитать
                <a href="{% url 'staticpage' 'terms' %}">правила</a> и
                <a href="{% url 'staticpage' 'help' %}">справку</a>.
                Они сделают вашу жизнь и жизни читателей проще.
            </p>
        {% else %}
            <h1>{{ page_title }}</h1>
        {% endif %}
        <form method="POST" enctype="multipart/form-data" name="search" id="searchform" class="form-horizontal">
        {% csrf_token %}
            <fieldset>
                <!-- Название -->
                <div class="control-group{% if form.title.errors %} error{% endif %}">
                    <label class="control-label">{{ form.title.label }}</label>
                    <div class="controls">{{ form.title }}
                        {% if form.title.errors %}
                            {% for error in form.title.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.title.help_text }}</span>
                        {% endif %}
                      </div>
                </div>
                <!-- Заметки к главе -->
                <div class="control-group{% if form.notes.errors %} error{% endif %}">
                    <label class="control-label">{{ form.notes.label }}</label>
                    <div class="controls">{{ form.notes }}
                        {% if form.notes.errors %}
                            {% for error in form.notes.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <span class="help-inline small">{{ form.notes.help_text }}</span>
                        {% endif %}
                      </div>
                </div>
                <!-- Текст главы -->
                <div class="control-group{% if form.text.errors %} error{% endif %}">
                    <label class="control-label">{{ form.text.label }}</label>
                    <div class="controls">{{ form.text }}
                        {% if form.text.errors %}
                            {% for error in form.text.errors %}
                            <span class="help-inline">{{ error }}</span>
                            {% endfor %}
                        {% else %}
                            <!--<span class="help-inline small">-->{{ form.text.help_text }}<!--</span>-->
                        {% endif %}
                      </div>
                </div>
                <div class="form-actions notop">
                    {{ form.button_submit }}
                </div>
            </fieldset>
        </form>
    </div>

    {% if chapter %}
        {% include "includes/chapter_single.html" %}
    {% endif %}
</div>
{% endblock %}
