{% load static %}
{% load utils %}
{% load breadcrumb_tags %}
{% add_crumb SITE_NAME 'index' %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>{% block title %}{{ page_title }}{% endblock %}&nbsp;&mdash;&nbsp;{{ SITE_NAME }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/main/favicon.ico' %}"/>#}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
</head>
<body>
<!-- Container start -->
<div class="container">
    {% include "includes/header_top.html" %}
    <!-- Content start -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <!-- Content end -->
    <!-- Footer start -->
    <div class="footer">
        <ul class="nav nav-pills nav-main">
            <li>
                <p class="copyright">
                    Все права принадлежат пони.
                    <span class="version">Версия библиотеки: {% version %}</span>
                </p>
            </li>
            <li id="nav_terms" class="right">
                <a href="{% url 'staticpage' 'terms' %}">Правила</a>
            </li>
        </ul>
    </div>
    <!-- Footer end -->
</div>
<!-- Container end -->
<script type="text/javascript" src="{% static 'vendor.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'app.bundle.js' %}"></script>
</body>
</html>
