{% extends "common.html" %}
{% block content %}
<div class="row page-faq">
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>
	</div>

	<div class="span12 text-faq">
		<h1>Часто задаваемые вопросы</h1>
		<p>Добро пожаловать в библиотеку рассказов stories.everypony.ru!</p>
		<p>В этой справке освещаются наиболее частые вопросы. Она постоянно пополняется, так что не стесняйтесь задавать вопросы.</p>

		<h2>Как связаться с администраторами?</h2>
		<p>Напишите им послание через <a href="http://everypony.ru/message">форму обратной связи</a>.</p>

		<h2>Как опубликовать рассказ?</h2>
		<p>Публиковать рассказы могут только зарегистированные участники. Если у вас ещё нет аккаунта, <a href="{% url 'registration_register' %}">зарегистрируйтесь</a>.</p>

		<h2>Что такое рейтинг? Как его определить?</h2>
		<p>Рейтинг – неформальная система определений, принятая авторами рассказов для того, чтобы дать читателю представление о том, чего ожидать, а также о том, насколько содержание рассказа пригодно для определенных возрастных групп. Традиционно рейтинги основаны на <a href="http://ru.wikipedia.org/wiki/%D0%A1%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%80%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3%D0%BE%D0%B2_%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B0%D0%BD%D1%81%D0%BA%D0%BE%D0%B9_%D0%BA%D0%B8%D0%BD%D0%BE%D0%B0%D1%81%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D1%86%D0%B8%D0%B8">американской системе кинематографических рейтингов</a> и включают в себя (по возрастающей):
		<ol>
		<li>G (General) – безобидные рассказы, которые можно читать кому угодно.</li>
		<li>PG-13 – могут читать с родительского разрешения дети старше тринадцати лет.</li>
		<li>R (Restricted) – рассказы, в которых присутствуют секс и насилие, ругательства.</li>
		<li>NC-18 (No Children) – самый высокий рейтинг. Обычно (но не всегда) подразумевает, что в рассказе полным-полно секса и/или насилия. Прячьте от деток. Эквивалентен обозначению Х в кино.</li>
		</ol>

		<h2>Как определить размер рассказа?</h2>
		<p>Традиционно размеры считаются по машинописным страницам (1800 знаков).
		<ol>
		<li>Мини – маленький рассказ. Размер от 1 до 20 страниц.</li>
		<li>Миди – рассказ среднего размера. Примерный размер от 20 до 70 страниц.</li>
		<li>Макси – большой рассказ, сравнимый по размеру с романами. Примерно от 70 страниц и больше.</li>
		</ol>
		<p>Список выше приведен для примерной ориентации. Руководствутесь чувством меры и здравым смыслом.</p>
  </div>

	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>
	</div>
</div>
{% endblock %}