{% extends "common.html" %}
{% block content %}
<div class="row page-help">
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>
	</div>

	<div class="span12 text-help">
		<div class="tabbable">
			<ul class="nav nav-pills nav-simple">
				<li class="active">
					<a href="#faq" data-toggle="tab">FAQ</a>
				</li>
				<li>
					<a href="#submission_rules" data-toggle="tab">Правила публикации</a>
				</li>
				<li>
					<a href="#tips" data-toggle="tab">Советы по оформлению</a>
				</li>
				<li>
					<a href="#site_help" data-toggle="tab">Помощь по сайту</a>
				</li>
				<li>
					<a href="#classifications" data-toggle="tab">О жанрах, рейтингах и прочем</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="faq">
					{% include 'includes/help/faq.html' %}
				</div>
				<div class="tab-pane" id="submission_rules">
					{% include 'includes/help/submission_rules.html' %}
				</div>
				<div class="tab-pane" id="tips">
					{% include 'includes/help/tips.html' %}
				</div>
				<div class="tab-pane" id="site_help">
					{% include 'includes/help/site_help.html' %}
				</div>
				<div class="tab-pane" id="classifications">
					{% include 'includes/help/classifications.html' %}
				</div>
			</div>
		</div>
  </div>

	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>
	</div>
</div>
{% endblock %}