{% extends "common.html" %}
{% load url from future %}
{% block content %}
<div class="row">
	<div class="span8">
    <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
      <li class="active">{{ page_title }}</li>
    </ul>   
		<h1>{{ page_title }}</h1>
		{% block before_list %}{% endblock %}
		<div id="comments-list">
			{% include "includes/stories.html" %}
		</div>
		{% block after_list %}{% endblock %}
    <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
      <li class="active">{{ page_title }}</li>
    </ul>
	</div>
</div>
{% endblock %}