{% extends "common.html" %}
{% load pluralize %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-md-12 story-page" id="story-page-story">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">{{ SITE_NAME }}</a> <span class="divider"></span></li>
            <li class="active">{{ page_title }}</li>
        </ul>
		<div class="well">
			<p><h3>{{ story.title }} 
			
			<span class="vote">
                <a href="{% url 'story_vote_plus' story.id %}"
                   class="upvote{% if not vote.plus %} unvoted{% endif %}" id="vote-up"></a>
                <a href="{% url 'story_vote_minus' story.id %}"
                   class="downvote {% if not vote.minus %} unvoted{% endif %}"
                   id="vote-down"></a>
            </span>
			
			{% include 'includes/story_header_info.html' %}</h3></p>
		
		    {% spaceless %}
			<p>{% include 'includes/story_authors_list.html' %} | <span class="glyphicon glyphicon-comment"></span> {{ comments_count }} | <span class="glyphicon glyphicon-eye-open"></span> {{ story.views }} | <span class="glyphicon glyphicon-star"></span> WIP | {{ story.words|rupluralize:'слово,слова,слов' }}</p>
			<p class="story-genres">
                {% for category in story.categories.all %}
                    <a class="gen" style="background-color: {{ category.color }}" href="{% url 'search_simple' 'category' category.id %}">{{ category.name }}</a>
                {% endfor %}
            </p>
			{% endspaceless %}
			<hr>
			<p class="story-description">{{ story.summary_as_html|striptags }}</p>
			<p><strong>Подробности и статистика</strong></p>
            <p>
                Рейтинг — <a href="{% url 'search_simple' 'rating' story.rating.id %}">{{ story.rating.name }}</a><br/>
              События: {% for classifier in story.classifications.all %}<a href="{% url 'search_simple' 'classifier' classifier.id %}">{{ classifier.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
              {{ story.words|rupluralize:'слово,слова,слов' }}, {{ story.views|rupluralize:'просмотр,просмотра,просмотров' }}<br/>
              Опубликован: {{ story.date|date:"d.m.Y" }}, последнее изменение – {{ story.updated|timesince }} назад
          </p>
			<hr>
			
			{% if chapters.count > 1 %}
            {% include "includes/story_panel.html" %}
			<div class="panel panel-default">
				<div class="panel-body">
				<button class="btn btn-primary btn-block btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						Показать главы
				</button>
				<div class="collapse" id="collapseExample">
					<ul class="nav nav-pills nav-stacked stories-chapters">
					{% for chapter in chapters %}
						<li><a href="{% url 'chapter_view_single' story.id chapter.order %}"><span class="page-list-header">{{ chapter.title }}</span> | <span class="page-list-data"><span class="glyphicon glyphicon-eye-open"></span> {{ chapter.views }} | {{ chapter.words|rupluralize:'слово,слова,слов' }}</span></a></li>
					{% endfor %}
					</ul>
				</div>
				</div>
				<div class="panel-footer">
					{% if not story.original %} <span class="label label-info">Перевод</span>{% endif %} {% if story.finished %} <span class="label label-success">Завершен</span>{% endif %}{% if story.freezed %} <span class="label label-danger">Заморожен</span>{% endif %} {% include 'includes/story_reader_buttons.html' %} <button type="button" style="float:right" class="btn btn-warning btn-xs" disabled>Пожаловаться</button>
				</div>
			</div>
			{% else %}
              {% with chapter=chapters.0 %}
                {% include "includes/story_panel.html" %}
                {% include "includes/chapter_single.html" %}
              {% endwith %}
			{% endif %}
			<p class="story-thumbnails">
                {% for character in story.characters.all %}
                    <a href="{% url 'search_simple' 'character' character.id %}"><img src="{{ character.thumb }}" alt="{{ character.name }}" title="{{ character.name }}"/></a>
                {% endfor %}
            </p>
			<p>Теги: {% for classifier in story.classifications.all %}<a href="{% url 'search_simple' 'classifier' classifier.id %}">{{ classifier.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		</div>
	</div>
	<div class="col-md-12">
        <!-- Вывод комментариев: начало -->
        {% if comments_count > 0 %}
        <div id="comments" class="info-comment-container">
            <a>Комментарии ({{ comments_count }})</a>
			<a disabled>Отзывы (0)</a>
            <div id="comments-list">
                {% include 'includes/comments.html' %}
            </div>
            {% include 'includes/comments_pagination_story.html' %}
        </div>
        {% endif %}

        {% if user.is_active %}
        <a href="{% url 'comment_add' story.id %}" class="btn btn-primary comment_add">Добавить комментарий</a>
        {% elif user.is_authenticated %}
        <h3 id="banned">К сожалению, Вы не можете добавлять комментарии</h3>
        {% else %}
        <a href="{% url 'auth_login' %}?next={% url 'story_view' story.id %}">Авторизуйтесь</a> для отправки комментария.
        {% endif %}
        <!-- Вывод комментариев: конец -->
    </div>
</div>
{% endblock %}
