{% extends "common.html" %}
{% load url from future %}
{% block content %}
{% load static %}
<div class="row">
	<div class="span8">
    <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
      <li class="active">{{ page_title }}</li>
    </ul>   
		<h1>{{ page_title }}</h1>
		<div id="comments-list">
			{% for story in stories %}
				<div class="story-item">
					<h3><a href="{% url 'story_view' story.id %}">{{ story.title }}</a> 
          			<sup><span class="upvotes">{{ story.vote_up_count }}</span> / <span class="downvotes">{{ story.vote_down_count }}</span></sup></h3>
					<p class="meta">
	          			{% spaceless %}
							<span class="category-list">
		           				{% for category in story.categories.all %}
		           					<a class="gen gen-{{ category.id }}" href="{% url 'search_simple' 'category' category.id %}">{{ category.name }}</a>
		           				{% endfor %}
		         			 </span>
		        		{% endspaceless %}
	          			{{ story.words }} слов от 
			          	{% for author in story.authors.all %}
				            {% if forloop.counter == 1 %}
				              <a class="authorlink" href="{% url 'author_overview' author.id %}">{{author.username}}</a>
				                {% if story.authors.all.count > 1 %}(в соавторстве с{% endif %}
				              {% endif %}
				                {% if forloop.counter > 1 %}           	        	
				              <a class="authorlink" href="{% url 'author_overview' author.id %}">{{author.username}}</a>{% if forloop.revcounter0 == 1 %} и {% endif %}{% if forloop.revcounter0 > 1 %}, {% endif %}
				            {% endif %}
				              {% if forloop.revcounter0 == 0 and story.authors.all.count > 1 %}){% endif %}
			            {% endfor %}
					</p>
					<p>{{ story.summary }}</p>
					<p class="meta">
						{% spaceless %}
            				<span class="character-list">
            					{% for character in story.characters.all %}
              						<a href="{% url 'search_simple' 'character' character.id %}"><img src="{% get_static_prefix %}i/characters/{{ character.id }}.png" alt="{{ character.name }}" title="{{ character.name }}"/></a>
            					{% endfor %}
           					</span>
         				{% endspaceless %}
          			</p>
				</div>
			{% endfor %}
		</div>
		{% if stories %}
				<!-- Пагинация: начало вывода -->
					<div id="pagination" class="center">
			        	{% if page_obj.has_previous %}
							<a class="btn" href="{% url 'allstories_page' page_obj.previous_page_number %}">← Назад</a>
						{% endif %}
						<span class="btn btn-primary">
							{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
						</span>			
			        	{% if page_obj.has_next %}
							<a class="btn" href="{% url 'allstories_page' page_obj.next_page_number %}">Вперед →</a>
						{% endif %}
			      	</div>
		      	<!-- Пагинация: конец вывода -->
		{% endif %}

    <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
      <li class="active">{{ page_title }}</li>
    </ul>
	</div>
</div>
{% endblock %}