{% extends "common.html" %}
{% load url from future %}
{% load pluralize %}
{% block content %}
{% load static %}
<div class="row">
	<div class="span12 story-page">
        <ul class="breadcrumb">
        	<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
        	<li class="active">{{ page_title }}</li>
        </ul>   
        
    	<h1 id="story_title">{{ story.title }} 
    		<span class="vote"><a href="{% url 'story_vote_plus' story.id %}" class="upvote" id="vote-up">{{ story.vote_up_count }}</a> / <a href="{% url 'story_vote_minus' story.id %}" class="downvote" id="vote-down">{{ story.vote_down_count }}</a></span>
    		{% if story.finished %} <sup class="complete">завершен</sup>{% endif %}{% if story.freezed %}<sup>, </sup><sup class="suspended">заморожен</sup>{% endif %} 
			{% include 'includes/story_control_buttons.html' %}
        	<span id="vote-msg"></span>
      	</h1>
		{% spaceless %}
			<p class="story-genres">
				{% for category in story.categories.all %}
        			<a class="gen gen-{{ category.id }}" href="{% url 'search_simple' 'category' category.id %}">{{ category.name }}</a>
      			{% endfor %}
			</p>		
			<p class="story-thumbnails">
				{% for character in story.characters.all %}
	     			<a href="{% url 'search_simple' 'character' character.id %}"><img src="{% get_static_prefix %}i/characters/{{ character.id }}.png" alt="{{ character.name }}" title="{{ character.name }}"/></a>
      			{% endfor %}
			</p>
		{% endspaceless %}
		
		<p>Написал: {% include 'includes/story_authors_list.html' %}</p>
        
        <p class="story-description">{{ story.summary_as_html|striptags }}</p>        
		
		{% if story.notes %}
			<p>Заметки к рассказу: {{ story.notes_as_html }}</p>
		{% endif %}
			
		<blockquote class="more-info">
			<p><strong>Подробности и статистика</strong></p>	
			<p>
				Рейтинг — <a href="{% url 'search_simple' 'rating' story.rating.id %}">{{ story.rating.name }}</a><br/>
    			События: {% for classifier in story.classifications.all %}<a href="{% url 'search_simple' 'classifier' classifier.id %}">{{ classifier.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br/>
    			{{ story.words|rupluralize:'слово,слова,слов' }}, {{ story.views|rupluralize:'просмотр,просмотра,просмотров' }}<br/>
    			Опубликован: {{ story.date|date:"d.m.Y" }}, последнее изменение – {{ story.updated|timesince }} назад
    		</p>
  		</blockquote>
  		
  		<div class="story-chapters">
  			{% if chapters.count > 1 %}
  				<h2>Содержание</h2>
				{% include "includes/story_panel.html" %}
  				<ul id="story_chapters">
					{% for chapter in chapters %}
						<li><h4><a href="{% url 'chapter_view_single' story.id chapter.order %}">{{ chapter.title }}</a></h4>
    					{{ chapter.words|rupluralize:'слово,слова,слов' }}, {{ chapter.views|rupluralize:'просмотр,просмотра,просмотров' }}<li>
					{% endfor %}
  				</ul>
  			{% else %}	
                {% with chapter=chapters.0 %}			
					{% include "includes/story_panel.html" %}
					{% include "includes/chapter_single.html" %}
                {% endwith %}
			{% endif %}
		</div>
		<!-- Вывод комментариев: начало -->
		{% if story.comment_set.count > 0 %}
			<div id="comments">
	      		<h3>Комментарии ({{ story.comment_set.count }})</h3>
		      	<div id="comments-list">
		      		{% include 'includes/comments.html' %}
		      	</div>
				{% include 'includes/comments_pagination_story.html' %}
	      	</div>
      	{% endif %}
	{% if not user.is_active %}
	    	<a href="{% url 'comment_add' story.id %}" class="btn btn-primary comment_add">Добавить комментарий</a>
	{% else %}
		<h3 id="banned">К сожалению, Вы не можете добавлять комментарии</h3>
	{% endif %}
      	<!-- Вывод комментариев: конец -->
    </div>
</div>
{% endblock %}
