{% extends "common.html" %}
{% block content %}
<div class="row page-terms">
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">{{ SITE_NAME }}</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>
	</div>

	<div class="span12 text-terms">
		<h1>Принятие условий</h1>
		<p>Заходя в нашу библиотеку, вы соглашаетесь на эти условия.</p>
		<ul>
			<li>Не лезть туда, куда вам по возрасту не положено или запретили родители - если вы в таком возрасте, что вам ещё можно что-нибудь запретить.</li>
			<li>Время от времени заходить сюда и перечитывать условия, а то вдруг мы захотим что-нибудь поменять и вас не спросим.</li>
		</ul>
			
		<h2>Внешние ссылки</h2>
		<p>В нашей библиотеке можно нарваться на внешние ссылки. Что с вами будет, если вы будете по ним кликать - целиком ваши проблемы. Это интернет, поняшка.</p>
		
		<h2>Общие правила</h2>
		<p>Не надо брать отсюда  ничего, не указав, откуда взяли и кто автор(ы). Ещё неплохо бы и  разрешение спросить - вам невелик труд, а авторам приятно.</p>
		<p>Не надо пытаться зарабатывать деньги на том, что отсюда взяли. Вообще.</p>
		<p>Эти правила могут поменяться в любой момент.</p>
		<p>В  один прекрасный день библиотека может закрыться. На ремонт, к  примеру... а то и для чего похуже. Будьте к этому  готовы.</p>
		
		<h2>Аккаунт</h2>
		<p>Не заходите в  библиотеку под чужим аккаунтом, не спросив разрешения у его владельца.  Всё, что будет твориться из-под вашего аккаунта, будет свалено на вас, и  не оправдывайтесь. Каждый сам себе злобный буратино, и если вы  поставили на свой аккаунт пароль "123", в последствиях будете виноваты  только вы сами.</p>
		<p>Если вас таки взломали и напакостили, библиотека тут ни при чём.</p>
		<p>Если окажется, что вы нарушаете правила, отберём читательский билет, так и знайте.</p>
		
		<h2>Содержание</h2>
		<p>Всё, что лежит в  библиотеке, кроме того, что в неё принесли участники, принадлежит  библиотеке.</p>
		<p>А всё, что принесли участники, принадлежит (кто бы мог подумать) участникам.</p>
		<p>Бродя  по библиотеке, вы можете нарваться на что-нибудь ужасное, оскорбляющее  ваши моральные, религиозные, эстетические и прочие чувства. Увы вам:  предупреждения висят не просто так, и если вы не читаете их - сами  виноваты. </p>
		
		<h2>Авторские права</h2>
		<p>Когда вы что-то  добавляете в библиотеку - вы и отвечаете за соблюдение авторских прав.  Это касается рассказов, рецензий, комментариев и всего  остального.</p>
		<p>Вы  даёте библиотеке право бесплатно и невозбранно показывать всем желающим  по всему Интернету то, что вы в неё загрузили.</p>
		<p>Вы  соглашаетесь загружать в библиотеку только то, что принадлежит либо  вам, либо кому-то, у кого вы спросили разрешения.</p>
		<p>Библиотека  не отвечает за то, что в неё загружают и не подписывается под каждым  комментарием, в ней оставленным; так что если вас послали отсюда в пешее  эротическое путешествие - виновата не она, а тот, кто  послал.</p>
		<p>Но  кто будет нарушать авторские права - тому опаньки, поэтому внимательно  читайте седьмой раздел (который следующий).</p>
		<p>И  вообще, библиотекари могут сойти с ума и внезапно выкинуть книжку в  окно без объяснения причин.</p>
		
		<h2>Преступление и наказание</h2>
		<p>Если вы:</p>
		<ul>
			<li>приносите в библиотеку неприемлемые материалы в любой форме (текст, фото, картинки);</li>
			<li>приносите в библиотеку чужие книги, подписанные вашим именем;</li>
			<li>используете библиотеку не по назначению;</li>
			<li>хамите без веского повода посетителям или персоналу;</li>
			<li>не ставите копирайты или предупреждения о потенциально неприятном контенте;</li>
			<li>соблазняете библиотекарей, а потом не приходите на свидания;</li>
			<li>ведёте себя иным не предусмотренным наукой или магией способом;</li>
		</ul>
		<p>...будем  бить по ушам. С какой силой, как долго и чем именно - решать Эрин и  Твайлайт. Они пони хорошие, добрые, но отнюдь не беззащитные, так что  если их как следует достать, мало не покажется.</p>
		<p>Поэтому будьте вежливы, соблюдайте тишину и уважайте труд библиотекарей.</p>
		<p>Да пребудет с вами мудрость Селестии и грация Луны.</p>
  </div>

	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">{{ SITE_NAME }}</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>
	</div>
</div>
{% endblock %}