{% extends "common.html" %}

{% block content %}
{% load static %}
<div class="row login-page">
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">{{ SITE_NAME }}</a> <span class="divider">/</span></li>
            <li class="active">{{ page_title }}</li>
        </ul>
    </div>

    {% if user.is_authenticated %}
        <div class="col-md-12 login-text">
            Что такое, {{ user.username }}? Вы же уже авторизованы.
            Впрочем, всегда можно <a href="{% url 'auth_logout' %}">выйти</a>.
        </div>
    {% else %}
    <div class="col-md-12 login-text">
        <h1>Парадный вход в библиотеку</h1>
            <form action="" method="POST" enctype="multipart/form-data" class="form-horizontal registration-form">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                    <div class="control-group{% if field.errors %} error{% endif %}">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">
                            {{ field }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p class="help-inline">{{ error }}</p>
                                {% endfor %}
                            {% else %}
                                <p class="help-inline small">{{ field.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if form.non_field_errors %}
                    <div class="control-group error"><p class="help-inline">{{ form.non_field_errors.0 }}</p></div>
                {% endif %}
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">Войти</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %}
    <div class="col-md-12">
        <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">{{ SITE_NAME }}</a> <span class="divider">/</span></li>
            <li class="active">{{ page_title }}</li>
        </ul>
    </div>
</div>
{% endblock %}
