{% autoescape off %}
{% load url from future %}
Кто-то, может, даже вы, запросил восстановления пароля для аккаунта {{ user.username }} в библиотеке рассказов stories.everypony.ru, прявязанного к этому почтовом адресу.

Если это и в самом деле ваша работа, то нажмите на ссылку ниже и восстановите пароль.
{% block reset_link %}
http://stories.everypony.ru{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}

Если же письмо получено ошибочно - смело удаляйте его.

{% endautoescape %}