{% load project_settings %}{% project_settings %}{% autoescape off %}
Кто-то, может, даже вы, запросил восстановление пароля для аккаунта {{ user.username }} в библиотеке рассказов {{ SITE_URL }}/, прявязанного к этому почтовом адресу.

Если это и в самом деле ваша работа, то нажмите на ссылку ниже и восстановите пароль.
{% block reset_link %}
{{ SITE_URL }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Если же письмо получено ошибочно - смело удаляйте его.

{% endautoescape %}
