.character.character-small {
  background-size: 80%;
  border-radius: 5px;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.character-1 {
  background: url(../images/characters/1.png) no-repeat;
}

.character-2 {
  background: url(../images/characters/2.png) no-repeat;
}

.character-3 {
  background: url(../images/characters/3.png) no-repeat;
}

.character-4 {
  background: url(../images/characters/4.png) no-repeat;
}

.character-5 {
  background: url(../images/characters/5.png) no-repeat;
}

.character-6 {
  background: url(../images/characters/6.png) no-repeat;
}

.character-7 {
  background: url(../images/characters/7.png) no-repeat;
}

.character-8 {
  background: url(../images/characters/8.png) no-repeat;
}

.character-9 {
  background: url(../images/characters/9.png) no-repeat;
}

.character-10 {
  background: url(../images/characters/10.png) no-repeat;
}

.character-11 {
  background: url(../images/characters/11.png) no-repeat;
}

.character-12 {
  background: url(../images/characters/12.png) no-repeat;
}

.character-13 {
  background: url(../images/characters/13.png) no-repeat;
}

.character-14 {
  background: url(../images/characters/14.png) no-repeat;
}

.character-15 {
  background: url(../images/characters/15.png) no-repeat;
}

.character-16 {
  background: url(../images/characters/16.png) no-repeat;
}

.character-17 {
  background: url(../images/characters/17.png) no-repeat;
}

.character-18 {
  background: url(../images/characters/18.png) no-repeat;
}

.character-19 {
  background: url(../images/characters/19.png) no-repeat;
}

.character-20 {
  background: url(../images/characters/20.png) no-repeat;
}

.character-21 {
  background: url(../images/characters/21.png) no-repeat;
}

.character-22 {
  background: url(../images/characters/22.png) no-repeat;
}

.character-23 {
  background: url(../images/characters/23.png) no-repeat;
}

.character-24 {
  background: url(../images/characters/24.png) no-repeat;
}

.character-25 {
  background: url(../images/characters/25.png) no-repeat;
}

.character-26 {
  background: url(../images/characters/26.png) no-repeat;
}

.character-27 {
  background: url(../images/characters/27.png) no-repeat;
}

.character-28 {
  background: url(../images/characters/28.png) no-repeat;
}

.character-29 {
  background: url(../images/characters/29.png) no-repeat;
}

.character-30 {
  background: url(../images/characters/30.png) no-repeat;
}

.character-31 {
  background: url(../images/characters/31.png) no-repeat;
}

.character-32 {
  background: url(../images/characters/32.png) no-repeat;
}

.character-33 {
  background: url(../images/characters/33.png) no-repeat;
}

.character-34 {
  background: url(../images/characters/34.png) no-repeat;
}

.character-35 {
  background: url(../images/characters/35.png) no-repeat;
}

.character-36 {
  background: url(../images/characters/36.png) no-repeat;
}

.character-37 {
  background: url(../images/characters/37.png) no-repeat;
}

.character-38 {
  background: url(../images/characters/38.png) no-repeat;
}

.character-39 {
  background: url(../images/characters/39.png) no-repeat;
}

.character-40 {
  background: url(../images/characters/40.png) no-repeat;
}

.character-41 {
  background: url(../images/characters/41.png) no-repeat;
}

.character-42 {
  background: url(../images/characters/42.png) no-repeat;
}

.character-43 {
  background: url(../images/characters/43.png) no-repeat;
}

.character-44 {
  background: url(../images/characters/44.png) no-repeat;
}

.character-45 {
  background: url(../images/characters/45.png) no-repeat;
}

.character-46 {
  background: url(../images/characters/46.png) no-repeat;
}

.character-47 {
  background: url(../images/characters/47.png) no-repeat;
}

.character-48 {
  background: url(../images/characters/48.png) no-repeat;
}

.character-49 {
  background: url(../images/characters/49.png) no-repeat;
}

.character-50 {
  background: url(../images/characters/50.png) no-repeat;
}

.character-51 {
  background: url(../images/characters/51.png) no-repeat;
}

.character-52 {
  background: url(../images/characters/52.png) no-repeat;
}

.character-53 {
  background: url(../images/characters/53.png) no-repeat;
}

.character-54 {
  background: url(../images/characters/54.png) no-repeat;
}

.character-55 {
  background: url(../images/characters/55.png) no-repeat;
}

.character-56 {
  background: url(../images/characters/56.png) no-repeat;
}

.character-57 {
  background: url(../images/characters/57.png) no-repeat;
}

.character-58 {
  background: url(../images/characters/58.png) no-repeat;
}

.character-59 {
  background: url(../images/characters/59.png) no-repeat;
}

.character-60 {
  background: url(../images/characters/60.png) no-repeat;
}

.character-61 {
  background: url(../images/characters/61.png) no-repeat;
}

.character-62 {
  background: url(../images/characters/62.png) no-repeat;
}

.character-63 {
  background: url(../images/characters/63.png) no-repeat;
}

.character-64 {
  background: url(../images/characters/64.png) no-repeat;
}

.character-65 {
  background: url(../images/characters/65.png) no-repeat;
}

.character-66 {
  background: url(../images/characters/66.png) no-repeat;
}

.character-67 {
  background: url(../images/characters/67.png) no-repeat;
}

.character-68 {
  background: url(../images/characters/68.png) no-repeat;
}

.character-69 {
  background: url(../images/characters/69.png) no-repeat;
}

.character-70 {
  background: url(../images/characters/70.png) no-repeat;
}

.character-71 {
  background: url(../images/characters/71.png) no-repeat;
}

.character-72 {
  background: url(../images/characters/72.png) no-repeat;
}

.character-73 {
  background: url(../images/characters/73.png) no-repeat;
}

.character-74 {
  background: url(../images/characters/74.png) no-repeat;
}

.character-75 {
  background: url(../images/characters/75.png) no-repeat;
}

.character-76 {
  background: url(../images/characters/76.png) no-repeat;
}

.character-77 {
  background: url(../images/characters/77.png) no-repeat;
}

.character-78 {
  background: url(../images/characters/78.png) no-repeat;
}

.character-79 {
  background: url(../images/characters/79.png) no-repeat;
}

.character-80 {
  background: url(../images/characters/80.png) no-repeat;
}

.character-81 {
  background: url(../images/characters/81.png) no-repeat;
}

.character-82 {
  background: url(../images/characters/82.png) no-repeat;
}

.character-83 {
  background: url(../images/characters/83.png) no-repeat;
}

.character-84 {
  background: url(../images/characters/84.png) no-repeat;
}

.character-85 {
  background: url(../images/characters/85.png) no-repeat;
}

.character-86 {
  background: url(../images/characters/86.png) no-repeat;
}

.character-87 {
  background: url(../images/characters/87.png) no-repeat;
}

.character-88 {
  background: url(../images/characters/88.png) no-repeat;
}

.character-89 {
  background: url(../images/characters/89.png) no-repeat;
}

.character-90 {
  background: url(../images/characters/90.png) no-repeat;
}

.character-91 {
  background: url(../images/characters/91.png) no-repeat;
}

.character-92 {
  background: url(../images/characters/92.png) no-repeat;
}

.character-93 {
  background: url(../images/characters/93.png) no-repeat;
}
