.character.character-small {
  background-size: 80%;
  border-radius: 5px;
  display: inline-block;
  width: 32px;
  height: 32px;
}
@for $i from 1 through 93 {
  .character-#{$i} {
    background: url(../images/characters/#{$i}.png) no-repeat;
  }
}