{% load url from future %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>Удаление главы</h3>
</div>
<div class="modal-body">
	<p>Вы действительно хотите удалить главу «{{ chapter_title }}» из рассказа «{{ story_title }}»?</p>
	<p>Вся связанная статистика также будет безвозвратно удалена!</p>
</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Отменить</button>
	<a href="{% url 'chapter_delete' chapter_id %}" class="btn btn-danger chapter_delete">Удалить главу</a>
</div>