{% load stories %}
<div id="wrapper"{% if story.nsfw and not user.nsfw %} class="nsfw"{% endif %}></div>
<div class="story-panel" id="story_panel">
    {% if user.is_authenticated %}
        <a title="В избранное" href="{% url 'story_favorite' story.id %}" class="story_favorite scon favorite{% if story|favorited:user.id %} favorited{% endif %}"></a>
        <a title="Отложить на потом" href="{% url 'story_bookmark' story.id %}" class="story_bookmark scon bookmark{% if story|bookmarked:user.id %} bookmarked{% endif %}"></a>
    {% endif %}
    {% if not story.finished %}
        <a title="Подписаться на новые главы по RSS" href="{% url 'feeds_story' story.id %}" class="scon feed"></a>
    {% endif %}

    {% if prev_chapter or next_chapter %}
    <span class="chapter-switch">
        {% if prev_chapter %}← <a class="left" href="{% url 'chapter_view_single' chapter.story_id prev_chapter.order %}">{{ prev_chapter.title }}</a>{% endif %}
        {% if next_chapter %}<a href="{% url 'chapter_view_single' chapter.story_id next_chapter.order %}">{{ next_chapter.title }}</a> →{% endif %}
    </span>
    {% endif %}
    {% if not chapter and not allchapters %}
        <a href="{% url 'chapter_view_all' story.id %}">Все главы одной страницей</a>
    {% endif %}
    <span class="chapter-controls">
        {% for d in story.list_downloads %}
            <a title="Скачать в {{ d.format.name }}" href="{{ d.url }}" class="get {{ d.format.slug }}"></a>
        {% endfor %}
    </span>
    {% comment %}
        <a title="Скачать в MOBI" href="#" class="get mobi"></a>
        <a title="Скачать в PDF" href="#" class="get pdf"></a>
        <a title="Скачать в TXT" href="#" class="get txt"></a>
    {% endcomment %}
    <span class="story_bookmark_msg"></span>
    <span class="story_favorite_msg"></span>
    {% if chapter or chapters %}
    <span class="chapter-controls">
        <select class="select-font">
            <option value="1">Без засечек</option>
            <option value="2">С засечками</option>
            <option value="3">Моноширинный</option>
        </select>
        <select class="select-size">
            <option value="1">Обычный</option>
            <option value="2">Маленький</option>
            <option value="3">Большой</option>
        </select>
        <select class="select-family" disabled>
			<option value="0">Стандарт</option>
            <option value="1">Times New Roman</option>
			<option value="2">Georgia</option>
			<option value="3">Arial</option>
            <option value="4">Consolas</option>
            <option value="5">Open Sans</option>
			<option value="6">Courier New</option>
			<option value="7">Verdana</option>
			<option value="8">Calibri</option>
        </select>
    </span>
    <span class="chapter-controls">
    {% comment %}
        <a title="Вниз" href="#" class="scon down" id="toDown"></a>
    {% endcomment %}
        <a title="Вверх" href="#" class="scon up" id="toTop"></a>
    </span>
    {% endif %}
<script>
$(document).ready(function(){
	$(".wide").click(function(){	
		if ( $(".chapter-text").hasClass("not-wide") ) {	
			$(".chapter-text").addClass("now-wide").removeClass("not-wide"); return false;
		} else {	
			$(".chapter-text").addClass("not-wide").removeClass("now-wide"); return false;		
		}
	});
});
</script>
	<button class="btn btn-default btn-xs wide" style="margin-bottom: 1px;">Wide Mode</button>
</div>

{% if story.nsfw and not user.nsfw %}
<div id="nsfwModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="nsfwModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Предупреждение</h3>
    </div>
    <div class="modal-body">
        <p>В этом фанфике могут быть: постельные сцены, описания пыток, убийства, жестокость, неприличные выражения, а иногда всё сразу.</p>
        <p>Вас это устраивает и вы готовы читать дальше?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Читать дальше</button>
        <button class="btn" onclick="window.history.back()">Вернуться назад</button>
    </div>
</div>
{% endif %}
