{% load static %}

{% for random_story in random_stories %}
    <div class="story-item">
        <h3><a href="{% url 'story_view' random_story.id %}">{{ random_story.title }}</a></h3>
        <p class="meta">
            {% spaceless %}
                <span class="category-list">
                    {% for category in random_story.categories.all %}
                        <a class="gen" style="background-color: {{ category.color }}" href="{% url 'search_simple' 'category' category.id %}">{{ category.name }}</a>
                    {% endfor %}
                </span>
            {% endspaceless %}
        </p>
        % if random_story.cover %}<img class="thumbnail" src="{% get_static_prefix %}images/main/tumb.jpg" alt=""/>{% endif %}
        <p>{{ random_story.summary_as_html|striptags|truncatewords:20 }}</p>
        <p class="meta">
            {% spaceless %}
                <span class="character-list">
                    {% for character in random_story.characters.all %}
                        <a href="{% url 'search_simple' 'character' character.id %}"><img src="{{ character.thumb }}" alt="{{ character.name }}" title="{{ character.name }}"/></a>
                    {% endfor %}
                </span>
            {% endspaceless %}
        </p>
    </div>
{% endfor %}
