{% load stories %}
{% if not story_add %}
    {% if story|editable_by:user %}
        <div class="story-control-btn btn-group">
            {% if user.is_staff %}
                <a class="btn {{ story.approved|yesno:',btn-success' }} btn-xs btn-default story_approve" href="{% url 'story_approve' story.id %}">
                   <img src="/static/i/fork.png" style="width: 16px; height: 16px;"> {{ story.approved|yesno:"Отозвать,Одобрить" }}
                </a>
            {% endif %}
            <a class="btn btn-xs btn-default story_publish{% if story.publishable and story.draft %} btn-primary{% endif %}" href="{% url 'story_publish' story.id %}">
               <img src="/static/i/fork.png" style="width: 16px; height: 16px;"> {{ story.draft|yesno:"Опубликовать,В черновики" }}
            </a>
            {% if not user.is_staff and not story_edit %}
                <a class="btn btn-warning btn-xs btn-default" href="{% url 'story_edit' story.id %}">Редактировать</a>
            {% endif %}

            <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="storyDropdownMenu{{ story.id }}" data-toggle="dropdown" aria-expanded="true">
                <span class="caret"></span>
            </button>

            <ul class="dropdown-menu btn-xs btn-default" role="menu">
            {% if not story_edit and user.is_staff %}
                <li><a href="{% url 'story_edit' story.id %}">Редактировать</a></li>
            {% endif %}
            {% if story|deletable_by:user %}
                <li><a class="story_delete" href="{% url 'story_delete' story.id %}">Удалить</a></li>
            {% endif %}
            {% if user.is_staff %}
                <li><a href="{% url 'story_edit_log' story.id %}">Лог модерации</a></li>
            {% endif %}
            </ul>
        </div>
    {% endif %}
{% endif %}
