{% load static %}
{% load stories %}
{% load pluralize %}
{% load story_comments_delta %}
{% for story in stories %}
    <!-- Вывод рассказа: начало -->
    <div class="panel panel-default" id="story_{{ story.id }}">
        <div class="panel-heading">
            <a href="{% url 'story_view' story.id %}" class="story-heading">{{ story.title }}</a>
            {% include 'includes/story_header_info.html' %}
            {% include 'includes/story_control_buttons.html' %}
        </div>
		<div class="panel-body">
		<p>{% include 'includes/story_authors_list.html' %} | <span class="glyphicon glyphicon-comment"></span> {{ comments_count }} | <span class="glyphicon glyphicon-eye-open"></span> {{ story.views }} | <span class="glyphicon glyphicon-star"></span> WIP | {{ story.words|rupluralize:'слово,слова,слов' }}</p>
        <p class="meta">
            {% spaceless %}
                <span class="category-list">
                    {% for category in story.categories.all %}
                        <a class="gen" style="background-color: {{ category.color }}" href="{% url 'search_simple' 'category' category.id %}">{{ category.name }}</a>
                    {% endfor %}
                </span>
                {% if user.detail_view %}
                    <br/>
                    <span>
                    {% if story.chapter_set.count == 1 %}{{ story.chapter_set.all.0.views|rupluralize:'просмотр,просмотра,просмотров' }}, {% endif %}{{ story.comment_set.count|rupluralize:'комментарий,комментария,комментариев' }}
                    </span>
                    {% if story|story_comments_delta:user > 0 %}
                    (<span class="green">+{{ story|story_comments_delta:user }}</span>)
                    {% endif %}
                {% endif %}
            {% endspaceless %}
        </p>
        <p>{{ story.summary_as_html|striptags }}</p>
        {% if user.detail_view and story.chapter_set.count > 1 %}
            <button class="btn btn-collapse btn-sm" data-toggle="collapse" data-target="#story-{{ story.id }}">Показать {{ story.chapter_set.count|rupluralize:'главу,главы,глав' }}</button>
            <div id="story-{{ story.id }}" class="collapse">
                <ul class="chapters-list">
                    {% for chapter in story.chapter_set.all|order_by:"order" %}
                        <li>
                            <a class="chapter-title" href="{% url 'chapter_view_single' story.id chapter.order %}">{{ chapter.title }}</a>
                            {% if story|editable_by:user %}
                                <sup><a class="edit-link" href="{% url 'chapter_edit' chapter.id %}">Редактировать</a></sup>
                            {% endif %}
                            <br/>
                            {{ chapter.words|rupluralize:'слово,слова,слов' }}, {{ chapter.views|rupluralize:'просмотр,просмотра,просмотров' }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <p class="meta">
            {% spaceless %}
                <span class="character-list">
                    {% for character in story.characters.all %}
                        <a href="{% url 'search_simple' 'character' character.id %}"><img src="{{ character.thumb }}" alt="{{ character.name }}" title="{{ character.name }}"/></a>
                    {% endfor %}
                </span>
				<p>Теги: {% for classifier in story.classifications.all %}<a href="{% url 'search_simple' 'classifier' classifier.id %}">{{ classifier.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            {% endspaceless %}
        </p>
		</div>
		<div class="panel-footer">
	{% if not story.original %} <span class="label label-info">Перевод</span>{% endif %} {% if story.finished %} <span class="label label-success">Завершен</span>{% endif %}{% if story.freezed %} <span class="label label-danger">Заморожен</span>{% endif %} {% include 'includes/story_reader_buttons.html' %} <button type="button" style="float:right" class="btn btn-warning btn-xs" disabled>Пожаловаться</button>
		</div>
    </div>
    <!-- Вывод рассказа: конец -->
{% empty %}
    <h3>Здесь пока ничего нет</h3>
{% endfor %}
