{% load stories %}
<div id="wrapper"{% if story.nsfw and not user.nsfw %} class="nsfw"{% endif %}>
	<div class="storypanel" id="story_panel">
	    {% if user.is_authenticated %}
	    	<a title="В избранное" href="{% url 'story_favorite' story.id %}" class="story_favorite scon favorite{% if story|favorited:user.id %} favorited{% endif %}"></a>
	        <a title="Отложить на потом" href="{% url 'story_bookmark' story.id %}" class="story_bookmark scon bookmark{% if story|bookmarked:user.id %} bookmarked{% endif %}"></a>
	    {% endif %} 
	    {% if not story.finished %}
	        <a title="Подписаться на новые главы по RSS" href="{% url 'feeds_story' story.id %}" class="scon feed"></a>
	    {% endif %}
	    {% if prev_chapter or next_chapter %}
	    <span class="chapter-switch">
	        {% if prev_chapter %}← <a class="left" href="{% url 'chapter_view_single' chapter.story_id prev_chapter.order %}">{{ prev_chapter.title }}</a>{% endif %}
	        {% if next_chapter %}<a href="{% url 'chapter_view_single' chapter.story_id next_chapter.order %}">{{ next_chapter.title }}</a> →{% endif %}
	    </span>
	    {% endif %}
	    {% if not chapter and not allchapters %}
	        <a href="{% url 'chapter_view_all' story.id %}">Все главы одной страницей</a>	
	    {% endif %}   
	    <span class="chapter-controls">
	        {% for d in story.list_downloads %}
	            <a title="Скачать в {{ d.format.name }}" href="{{ d.url }}" class="get {{ d.format.slug }}"></a>
	        {% endfor %}
	    </span>
	    {% comment %}
	    <span class="chapter-controls">
	        <a title="Вниз" href="#" class="scon down"></a> 
	        <a title="Вверх" href="#" class="scon up"></a> 
	    </span>
	        <a title="Скачать в MOBI" href="#" class="get mobi"></a>
	        <a title="Скачать в PDF" href="#" class="get pdf"></a>
	        <a title="Скачать в TXT" href="#" class="get txt"></a>
	    {% endcomment %}
		<span class="story_bookmark_msg"></span>
	    <span class="story_favorite_msg"></span>
	    {% if chapter or chapters %}
	    <span class="chapter-controls">
	        <select class="select-font">
	            <option value="1">Без засечек</option>
	            <option value="2">С засечками</option>
	            <option value="3">Моноширинный</option>
	        </select>
	        <select class="select-size">
	            <option value="1">Обычный</option>
	            <option value="2">Маленький</option>
	            <option value="3">Большой</option>
	        </select>
            <select class="select-chapter" onchange="location = this.options[this.selectedIndex].value;">
                {% for c in chapters|default_if_none:story.chapter_set.all %}
                <option
                    {% if allchapters %}
                        value="#chapter{{ c.id }}"
                    {% else %}
                        value="{{ c.get_absolute_url }}"
                    {% endif %}
                    {% if c.id == chapter.id %}selected{% endif %}
                >{{ c.title }}</option>
                {% endfor %}
            </select>
	    </span>
	    {% endif %}
	</div>
	{% if not user.nsfw %}
		<div id="nsfwModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="nsfwModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">Предупреждение</h3>
			</div>
			<div class="modal-body">
				<p>В этом фанфике могут быть: постельные сцены, описания пыток, убийства, жестокость, неприличные выражения, а иногда всё сразу.</p>
				<p>Вас это устраивает и вы готовы читать дальше?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Читать дальше</button>
				<button class="btn" onclick="window.history.back()">Вернуться назад</button>
			</div>
		</div>
	{% endif %}
</div>
