{% load stories %}
{% if not story_add %}
	{% if story|editable_by:user %}
		<span class="story-control-btn">
			{% if story.draft %}
				<a class="btn btn-mini story_publish{% if story.publishable %} btn-primary{% endif %}" href="{% url 'story_publish' story.id %}">Опубликовать</a>
			{% else %}
				<a class="btn btn-mini story_publish" href="{% url 'story_publish' story.id %}">В черновики</a>
			{% endif %}
			{% if not story_edit %}
				<a class="btn btn-warning btn-mini" href="{% url 'story_edit' story.id %}">Редактировать</a>
			{% endif %}
			<a class="btn btn-danger btn-mini story_delete" href="{% url 'story_delete' story.id %}">Удалить</a>
			{% if user.is_staff %}
				{% if not story.approved %}
					<a class="btn btn-success btn-mini story_approve" href="{% url 'story_approve' story.id %}">Одобрить</a>
				{% else %}
					<a class="btn btn-mini story_approve"" href="{% url 'story_approve' story.id %}">Отозвать</a>
				{% endif %}
			{% endif %}
		</span>
	{% endif %}
{% endif %}