{% extends "common.html" %}
{% block content %}
{% load static %}
<div class="row">
  <div class="span12" style="margin-top: 2em; margin-bottom: 2em;">
    <h1>Авторизация через stories.everypony.ru</h1>
    {% if nodownload %}
      <div class="alert alert-warning">Не получается посмотреть <a href="{{ nodownload_link }}" target="_blank">страницу аккаунта</a>: {{ nodownload }}. Если эта ошибка стабильно повторяется при каждом обновлении страницы и никуда не пропадает, сообщите об этом куда-нибудь.</div>
    {% endif %}
    Авторизуйтесь на <a href="https://stories.everypony.ru/" target="_blank">stories.everypony.ru</a> и в «Пару слов о себе» в настройках профиля добавьте следующие буковки:<br/><br/>
    <input readonly type="text" style="cursor: text; font-weight: bold; font-size: 1.35em; width: 100%;" value="{{ migration.inline_token }}" /><br/><br/>
    После чего обновите эту страницу. Сайт прочитает эти буковки, убедится, что вы — это вы, и пустит вас сюда. После этого эти буковки можно будет стереть.
  </div>
</div>
{% endblock %}
