{% load pluralize %}
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3>{{ page_title }}</h3>
</div>
<div class="modal-body">
	<div class="story-item">
		<p>Рассказ <strong>«{{ story.title }}»</strong> не может быть опубликован прямо сейчас.</p>
		{% if story.words < 1000 and story.words > 0 %}
			<p>Его размер составляет всего {{ story.words|rupluralize:'слово,слова,слов' }}, что меньше {{ need_words }}, необходимых для публикации.</p>
		{% else %}
			<p>
				Там нет ни единого слова, что недопустимо.&nbsp;
					{% if story.chapter_set.count == 0 %}
						Более того, лучшие отряды поисковых пегасов не то, что слов — даже глав не нашли!
					{% endif %}
			</p>
		{% endif %}
	</div>
</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Вернуться к редактированию рассказа</button>
</div>
