{% extends "stories_list_common.html" %}
{% block after_list %}
    {% if stories %}
        <!-- Пагинация: начало вывода -->
            <div id="pagination" class="center">
                {% if page_obj.has_previous %}
                    <a class="btn" href="{% url pagination_view_name page_obj.previous_page_number %}">← Назад</a>
                {% endif %}
                <span class="btn btn-primary">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a class="btn" href="{% url pagination_view_name page_obj.next_page_number %}">Вперед →</a>
                {% endif %}
              </div>
           <!-- Пагинация: конец вывода -->
    {% endif %}
{% endblock %}
