{% extends "common.html" %}
{% block content %}
<div class="row page-404">
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
  
	<div class="span12 message-404">
		<h1>404 - книга не найдена</h1>
		<p>Кажется, такой истории нет. Яростно удалена или еще не написана. А может, у вас неправильная ссылка?</p>
		<p>Попробуйте поискать нужный специально обученным <a href="{% url 'search' %}">поиском</a> или вернуться на <a href="{% url 'index' %}">главную</a>.</p>
  </div>
  
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>   
	</div>
</div>
{% endblock %}