{% extends "common.html" %}
{% load url from future %}
{% load faved %}
{% load typogrify %}
{% block content %}
<div class="row">
	{% include "chapter_breadcrumbs.html" %}
	{% if allchapters %}
		<div class="span12 story-chapter-page">
		
            {% include "story_panel.html" %}
			
			<div class="chapter-text">
			<h1>{{ chapters.0.in_story.title }}</h1>
			{% for chapter in chapters %}
					<h2 id="chaptertitle">{{ chapter.title }}</h2>
					<p>{{ chapter.text|typogrify|safe }}</p>
			{% endfor %}
			</div>
			
	    </div>
    {% else %}
		<div class="span12 story-chapter-page">
			{% include "story_panel.html" %}
	    
			<div class="chapter-text">
				<h1 id="chaptertitle">{{ chapter.title }}</h1>
				<p>{{ chapter.text|typogrify|safe }}</p>
			</div>
	    </div>
    {% endif %}
	{% include "chapter_breadcrumbs.html" %}
</div>
{% endblock %}