{% extends "common.html" %}
{% block content %}
<div class="row page-help">
	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>
	</div>

	<div class="span12 text-help">
		<h1>Советы и руководства по оформлению рассказов</h1>
		<h2>Пешити граматна!!1</h2>
		<p>Безусловно,  главным требованием является грамотность. Для того, чтобы рассказ  удовлетворял элементарному критерию грамотности, талант легендарного  писателя иметь не обязательно. Есть масса способов ее  улучшения.</p>
		<p>Пару  раз внимательно перечитайте рассказ (можно дать и родственникам, и  знакомым, и друзьям). Желательно иногда заглядывать и в правила русского  языка. Хорошим сборником правил является учебник Д. Э.  Розенталя.</p>
		<p>Программа  Microsoft Word позволит устранить множество ошибок, только на 100% ей  тоже не доверяйте. Проверить орфографию онлайн можно <a href="http://advego.ru/text">здесь</a>.</p>
		
		<h2>Не доверяете своей грамотности?</h2>
		<p>Найдите  себе бету — человека, который будет вычитывать и редактировать ваши  тексты. Такой ход сделает их на 20% круче!</p>
		<p>Следующим  немаловажным требованием к рассказу является оригинальность сюжета.  Если, к примеру, Эрин Флип, Твайлайт или большинство читателей будут  склоняться к мнению, что ваш рассказ откровенный штамп, очевидная ерунда  или копирование чьего-то творчества, то увы — не быть ему в  библиотеке.</p>
		<p>Наконец,  заключительное требование — принимать участие в обсуждении вашего  произведения. Отвечайте на вопросы, прислушивайтесь к их советам — они  могут помочь вам написать более качественные рассказы. Например, брони  могут указать в вашем произведении на ошибки, логические нестыковки и т.  п. Не отмахивайтесь от этого, а лучше исправляйте — читателям будет  приятнее наслаждаться вашим творчеством, а главное — не будет лишних  поводов со стороны библиотекарей дёргать вас.</p>
		
		<h2>Размещение рассказа</h2>
		<p>Перед  публикацией рассказа уделите некоторое время на то, чтобы правильно заполнить теги (персонажи и жанры) и привести в порядок сам текст. Запомните, это очень важно!</p>
		<p>Название вашего фанфика. <b>Слово «Глава» писать не нужно, точка в конце названия НЕ ставится</b>.</p>
		<p>Жанр: с чем предстоит столкнуться читателю в Вашем произведении.</p>
		<p>События: основные события в рассказе.</p>
		<h3>Краткое описание</h3>
		<p>Краткое описание рассказа и главы поможет определить читателю, читал ли он этот  рассказ/главу, или нет.</p>
		<p><b>Правильно: </b></p>
		<blockquote>Глава, в которой Твайлайт осваивает секрет перемещений во времени, а  Пинки Пай ломает четвёртую стену. Опять.</blockquote>
		<p><b>Неправильно:</b></p>
		<blockquote> Глава 3 рассказа «Песок времени».</blockquote>
		
		<h2>Размещение перевода</h2>
		<p>В случае перевода в «Заметки к фанфику» добавляются следующие пункты:</p>
		<blockquote>Автор оригинала:<br />
		Оригинальное название:<br />
		Ссылка на оригинал:<br />
		Разрешение на перевод (есть/нет):</blockquote>
  </div>

	<div class="span12">
      <ul class="breadcrumb">
    		<li><a href="{% url 'index' %}">Библиотека Everypony.ru</a> <span class="divider">/</span></li>
			<li class="active">{{ page_title }}</li>
		</ul>
	</div>
</div>
{% endblock %}